<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Navigation -->
<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" rel="nofollow" target="_blank" href="http://scadonsak.com/7bF" style="text-transform: uppercase;"> Mimem - <small>digital footprint of individiual</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link dropdown-toggle" id="healthMenu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health Records</a>
            <ul class="dropdown-menu health-menu" role="" aria-labelledby="healthMenu" >
              <li class="dropdown-item">
                <a routerLink="basic-health-information" >basic health  information</a>
              </li>
              <li class="dropdown-item">
                <a href="#">doctor</a>
              </li>
              <li class="dropdown-item">
                <a href="#">ongoing medication</a>
              </li>
              <li class="dropdown-item">
                <a href="#">allergies</a>
              </li>
              <li class="dropdown-item">
                <a href="#">prescription</a>
              </li>
              <li class="dropdown-item">
                <a href="#">messages</a>
              </li>
              <li class="dropdown-item">
                <a href="#">surgical details</a>
              </li>
              <li class="dropdown-item">
                <a href="#">future appointments</a>
              </li>
              <li class="dropdown-item">
                <a href="#">diagonostic reports</a>
              </li>
              <li class="dropdown-item">
                <a href="#">doctor visits</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Personal Records</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" href="#">Psycological Records</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Others</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
